<div class="container-banner-course">
  <div class="banner-course-text">
    <h1>
      <span class="banner-text-one">
        Sé todo un profesional con tu <br>
      </span>
      <span class="banner-text-tow">firma de correo personalizada</span>
    </h1>

    <p class="banner-course__description">
      <span class="banner-description">
        Crea en menos de 2 minutos tu firma de correo única y envía mails corporativos. Perfecto para profesionales, emprendedores y freelancers.
      </span>
    </p>
    <button pButton type="button" label="Genera tu firma ahora" icon="pi pi-check" class="p-button"></button>

  </div>
  
  <div class="banner-course-image">
    <!-- <img src="https://ed.team/images/utils/firma/banner.svg" > -->
    <div class="person">
      <div class="background-person">

      </div>
      <div class="person-img">
        <img src="../../../../../assets/img/person.png">
      </div>

      <div class="card-radius">
        <img src="../../../../../assets/img/diploma.png">
      </div>

      <div class="container-card-tech">
        <div class="card-tehc">
          <img src="../../../../../assets/img/homework.png">
        </div>
        <div class="card-tehc-text">
          <span class="text-test">Aprende habilidades</span>
          <p class="text-description">Tecnológicas que te ayuden en tu futuro</p>
        </div>
      </div>

      <div class="container-card-tech card-tech-tow">
        <div class="card-tehc">
          <img src="../../../../../assets/img/dart.png">
        </div>
        <div class="card-tehc-text">
          <span class="text-test">Conocimiento</span>
          <p class="text-description">Tecnológicas</p>
        </div>
      </div>

    </div>
  </div>
</div>
