<div class="container-banner-course">
  <div class="banner-course-text">
    <h1>
      <span class="banner-text-one">
        Sé todo un profesional con tu <br>
      </span>
      <span class="banner-text-tow">firma de correo personalizada</span>
    </h1>

    <p class="banner-course__description">
      <span class="banner-description">
        Crea en menos de 2 minutos tu firma de correo única y envía mails corporativos. Perfecto para profesionales, emprendedores y freelancers.
      </span>
    </p>
    <button pButton type="button" label="Genera tu firma ahora" icon="pi pi-check" class="p-button"></button>

  </div>
  <div class="banner-course-image">
    <img src="https://ed.team/images/utils/firma/banner.svg" >
  </div>

</div>
