<div class="container-card-features bd-container">


  <div class="title-card-features">
    <h1 class="text-zise-2">Estudia a tu ritmo</h1>
    <p class="text-size-1 text-size-2" style="color: rgb(51, 51, 51);">Aprende y desarrolla las habilidades que necesitas para potenciar tu profesión, ¡toma las primeras clases del curso que tú elijas sin costo!</p>
  </div>
  <div class="card-features">

    <div class="col-4 md:col-6 sm:col-12 lg:col-4 text-center card-features-item ">
      <figure>
        <img src="../../../../../assets/img/dart.png">
      </figure>

      <div class="card-features-text">
        <h1 class="card-features-title">Remote Friendly</h1>
        <!-- <p class="card-features-description">Estudia a tu ritmo desde donde quieras a la hora que quieras.</p> -->
        <p class="card-features-description"> majority have suffered alteration in words which don't look even have
          slightly randomised.</p>
      </div>

    </div>

    <div class="col-4 md:col-6 sm:col-12 lg:col-4 text-center card-features-item ">
      <figure>
        <img src="../../../../../assets/img/diploma.png">
      </figure>

      <div class="card-features-text">
        <h1 class="card-features-title">Remote Friendly</h1>
        <!-- <p class="card-features-description">Estudia a tu ritmo desde donde quieras a la hora que quieras.</p> -->
        <p class="card-features-description"> majority have suffered alteration in words which don't look even have
          slightly randomised.</p>
      </div>

    </div>

    <div class="col-4 md:col-6 sm:col-12 lg:col-4 text-center card-features-item ">
      <figure>
        <img src="../../../../../assets/img/homework.png">
      </figure>

      <div class="card-features-text">
        <h1 class="card-features-title">Remote Friendly</h1>
        <!-- <p class="card-features-description">Estudia a tu ritmo desde donde quieras a la hora que quieras.</p> -->
        <p class="card-features-description"> majority have suffered alteration in words which don't look even have
          slightly randomised.</p>
      </div>

    </div>


  </div>
</div>
