<div class="container-footer">
  <div class="bd-container">
    <div class="footer">
      <div class="footer-logo">
        <figure class="img-footer">
          <img src="../../../../../assets/img/logo-footer.png">
        </figure>

        <p class="text-footer-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate autem, non natus, libero voluptas recusandae praesentium vero, est iste error corrupti ducimus delectus ea excepturi fugiat vitae culpa repudiandae.</p>

        <div class="mt-3">

          <a href="https://www.facebook.com/ayagbabiirawo" target="_blank" class="footer__social social-facebbok"><i class='bx bxl-facebook social_container'></i></a>

          <a href="https://www.instagram.com/p/CgZBy0wuP9n/?igshid=YmMyMTA2M2Y=" target="_blank" class="social-instagram footer__social"><i class='bx bxl-instagram social_container'></i></a>
          <a href="https://youtube.com/channel/UCVY8zwyzBixkSFD0KQzGN1Q" class="social-youtube footer__social mr-2"> <i class="bx bxl-youtube social_container"></i></a>
        </div>
      </div>

      <div class="info-footer">
        <h2 class="info-footer-title">Información de contacto</h2>
        <div class="item-info-footer">
          <i class="pi pi-map pr-2  icon-footer"></i>
          <span>
            Cartagena - Colomabia
          </span>
        </div>

        <div class="item-info-footer">
          <i class="pi pi-envelope pr-2"></i>
          <span>
            contactenos@tehcni.com
          </span>
        </div>

        <div class="item-info-footer">
          <i class="pi pi-phone pr-2"></i>
          <span>
            (+57) 3157342322
          </span>
        </div>

      </div>

      <div class="suscription-footer">
        <h2 class="info-footer-title">Suscribirse</h2>
        <p style="color: #fff;">Regístrate con tu dirección de correo electrónico para recibir noticias y actualizaciones.</p>
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Ingresa tu correo electrónico">
          <button type="button" pButton pRipple label="Suscríbete"></button>
        </div>
      </div>

    </div>
    <div class="copy text-center">
      <p>© Tehcni 2022 Todos los derechos reservados.</p>
    </div>
  </div>

</div>
