/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/Roboto-Light.ttf');
  font-style: normal;
}

html, body { height: 100vh }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; scroll-behavior: smooth;}


.bd-container {
  max-width: 89%;
  width: calc(100% - 2rem);
  margin: 0 auto ;
}

a {
    text-decoration: none;
}

.label-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 20px;
  font-weight: 500;
  color: #545458;
  font-family: "roboto";
  line-height: 1.4286
}

.icon-emoji {
  font-size: 17px;
}

.text-size-1 {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}

.text-size-2{
  font-size: 18px;
  font-weight: 400;
}



.text-title {
  color: #fff;
  font-size: 35px !important;
  font-weight: 500 !important;
  line-height: 30px !important;
}

.text-title-black {
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0px;
}

.text-indicator {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  border-style: solid;
  border-width: 0px 0px 0px 8px;
  border-color: #E7692D;
  border-radius: 0px 0px 0px 0px;
}

.text-indicator-vertical::after {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  border-style: solid;
  border-width: 0px 0px 0px 8px;
  border-color: #E7692D;
  border-radius: 0px 0px 0px 0px;
}

.my-border-round {
  border-radius: 13px !important;
}
