.p-timeline-event-opposite {
    flex: none !important;

}

.p-timeline-event-content {
    padding: 14px 10px !important;
    height: 50px !important;
    &:hover{
        cursor: pointer !important;
        background-color: #cae6fc;
        border-radius: 10px;
    }
}

.p-timeline-event {
    display: flex;
    position: relative;
    min-height: 35px !important;
}

.p-timeline-event-separator {
    flex: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 17px !important;
}


.p-panel.p-panel-toggleable .p-panel-header {
    margin: 10px 0px !important;
}

.p-panel .p-panel-icons-end{
    position: relative !important;
    top: -51px  !important;
    left: 3%  !important;
}

.p-scrollpanel-content {
    padding: 16px !important;
}

.shadow-2 {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%), 0px 0px 2px rgb(0 0 0 / 16%), 0px 2px 6px rgb(0 0 0 / 5%) !important;
    border-radius: 8px !important;
}

.my-card {

    text-align: center;
    background-color: #fff;
    z-index: 99;
    padding: 15px 0px;
    border-radius: 8px;
    .indicator {
        height: 2px;
        background: #1192ee
    }
    h1 {
        margin: 0;
    }
}

.p-scrollpanel .p-scrollpanel-bar {
    background: #2196F3;
}

.p-timeline-event-opposite, .p-timeline-event-content {
    padding: 10px 5px !important;
}

.container-introduction {
    background: #2196F3;
    color: #fff;
    width: 100%;
    border-radius: 10px;
}
